# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/
# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test output
*.log


filtered_prompts.json
labeled_prompts_selector.json
